<footer class="bg-success text-light py-3 mt-5">
  <div class="container text-center d-flex justify-content-center align-items-center" style="height: 30px;">
    <p class="mb-0">&copy; 2024 Irham Rahmat Saleh. All rights reserved.</p>
  </div>
</footer>
