<nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top">
  <div class="container-fluid">
    <img style="width: 50px; height: 50px; object-fit: contain" src="https://dumbways.id/assets/images/brandwhite.png"
      class="navbar-logo" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
        <li class="nav-item">
          <a class="nav-link active fw-bold text-white" style="margin-left: 15px;" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold text-white" style="margin-left: 15px;" href="/addProject">Add
            Project</a>
        </li>
      </ul>
      <a class="btn btn-dark bg-success" href="/contact">Contact Me</a>
    </div>
  </div>
</nav><br>
