<nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top">
  <div class="container-fluid">
    <img style="width: 50px; height: 50px; object-fit: contain" src="https://dumbways.id/assets/images/brandwhite.png"
      class="navbar-logo" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
        <li class="nav-item">
          <a class="nav-link active fw-bold text-white" style="margin-left: 15px;" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold text-white" style="margin-left: 15px;" href="/addProject">Add Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold text-white" style="margin-left: 15px;" href="/testimonials">Testimonials</a>
        </li>
      </ul>
      <!-- Bagian kanan navbar -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {{#if userName}}
        <li class="nav-item d-flex align-items-center">
          <!-- Link ke halaman profil -->
          <a href="/profile" class="d-flex align-items-center text-decoration-none" style="margin-bottom: 5px;">
            <!-- Foto Profil Bulat -->
            <img src="{{userImage}}" alt="User Image" class="rounded-circle"
              style="width: 40px; height: 40px; object-fit: cover; margin-right: 10px;">
            <span class="nav-link active fw-bold text-white" style="margin-right: 15px;">Hello, {{userName}}! 👋</span>
          </a>
        </li>
        <li class="nav-item" style="list-style-type: none; margin-right: 15px;">
          <a class="btn btn-dark bg-transparent" href="/logout">Logout</a>
        </li>
        {{else}}
        <li class="nav-item" style="list-style-type: none; margin-right: 15px;">
          <a class="btn btn-dark bg-transparent" href="/login">Login</a>
        </li>
        <li class="nav-item" style="list-style-type: none; margin-right: 15px;">
          <a class="btn btn-dark bg-transparent" href="/register">Register</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="btn btn-dark bg-dark.bg-gradient" href="/contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav><br>
