/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#projectTitle {
  text-align: center;
}

/* Form Section */
.form-section {
  background-color: #fff;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.date-inputs {
  display: flex;
  justify-content: space-between;
}

.date-inputs>div {
  width: 48%;
}

.tech-checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.file-upload {
  display: flex;
  align-items: center;
  position: relative;
}

.file-upload input[type="file"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.file-upload i {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #888;
}

button[type="submit"] {
  background-color: #fe4e30;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
  display: block;
  margin-left: auto;
}

button[type="submit"]:hover {
  background-color: #6d1708;
}

/* Separator */
.separator {
  margin: 50px 0;
  height: 1px;
  background-color: #ccc;
}

/* Project Section */
.project-section {
  max-width: 1200px;
  margin: 20px auto;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h2 {
  margin: 15px 0 5px;
}

.card p {
  margin: 5px 0;
  color: #555;
}

.icons {
  margin: 15px 0;
}

.icons i {
  font-size: 24px;
  margin: 0 5px;
  color: #555;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.card-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.card-buttons .edit {
  background-color: #ffc107;
  color: white;
}

.card-buttons .delete {
  background-color: #dc3545;
  color: white;
}

.card-buttons button:hover {
  opacity: 0.8;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .date-inputs {
    flex-direction: column;
  }

  .date-inputs>div {
    width: 100%;
  }

  .file-upload input[type="file"] {
    flex-grow: 1;
  }
}

@media (max-width: 480px) {
  .project-cards {
    grid-template-columns: 1fr;
  }
}
