<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Me - Irham Rahmat Saleh</title>
  <link rel="stylesheet" href="/css/contact.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top">
    <div class="container-fluid">
      <img style="width: 50px; height: 50px; object-fit: contain" src="https://dumbways.id/assets/images/brandwhite.png"
        class="navbar-logo" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
          <li class="nav-item">
            <a class="nav-link active fw-bold text-white" style="margin-left: 15px;" aria-current="page"
              href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold text-white" style="margin-left: 15px;" href="/addProject">Add
              Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold text-white" style="margin-left: 15px;"
              href="/testimonials">Testimonials</a>
          </li>
        </ul>
        <a class="btn btn-dark bg-success" href="/contact">Contact Me</a>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <main style="padding-top: 80px;">
    <div class="contact-container">
      <form class="contact-form" onsubmit="submitForm(event)">
        <h2>GET IN TOUCH</h2>
        <div class="form-group mb-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group mb-3">
          <label for="phone">Phone Number</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="form-group mb-3">
          <label for="subject">Subject</label>
          <select id="subject" name="subject" class="form-select">
            <option value="">Select a subject</option>
            <option value="general_inquiry">General Inquiry</option>
            <option value="feedback">Feedback</option>
            <option value="support">Support</option>
            <option value="partnership">Partnership</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="message">Message</label>
          <textarea id="message" class="form-control" name="message" rows="5"></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <input id="submit" class="btn btn-success" type="submit" value="Send Message">
        </div>
      </form>
    </div>
  </main><br>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="/js/contact.js"></script>
</body>

</html>
