{{!-- Ganti Layout di sini --}}
{{> header}}

<main class="container d-flex justify-content-center" style="padding-top: 80px;">
	<div class="shadow content-box">
		<div class="row">
			<div class="col-lg-6">
				<h2 style="margin-bottom: 15;">Hi, Welcome to My Web</h2>
				<p>I am a passionate Full Stack Developer with a strong track record in building responsive and user-friendly
					web applications. My journey in tech began with a bootcamp at DumbWays, where I started learning on August 27
					and have since been actively working on a personal web project. My expertise includes HTML, CSS, and
					JavaScript, and I am currently expanding my skills with Express, Axios, and Nodemon. My professional and
					personal interests revolve around
					creating computer programs and exploring various fields within information technology, electronics,
					mathematics, and computer science.</p>
				<div class="d-flex">
					<a href="/contact" class="btn btn-success contact-btn">Contact</a>
					<a href="https://drive.google.com/file/d/11xQGHk2TU9oRhSyYENC8nDVS_b6e8m9N/view?usp=sharing"
						class="btn btn-outline-primary cv-btn" download>Download CV</a>
				</div>
				<div class="social-media d-flex" style="margin-top: 30px; margin-bottom: 30px; gap: 20px;">
					<a href="https://www.linkedin.com/in/irham-rahmat-saleh-a03153169/" target="_blank">
						<img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
					</a>
					<a href="https://www.instagram.com/irhamsaleh904/?hl=en" target="_blank">
						<img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
					</a>
					<a href="https://web.facebook.com/Irham.s4leh" target="_blank">
						<img src="https://cdn-icons-png.flaticon.com/512/145/145802.png" alt="Facebook">
					</a>
					<a href="https://x.com/RichIrham" target="_blank">
						<img src="https://cdn-icons-png.flaticon.com/512/145/145812.png" alt="Twitter">
					</a>
					<a href="https://github.com/Irhamrahmatsaleh" target="_blank">
						<img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
					</a>
				</div>
			</div><br><br>
			<div class="col-lg-6 text-center">
				<div class="card border-success border-2">
					<div class="card-img-top">
						<div class="photo-box" style="margin-top: 40px;">
							<img src="/img/irham-jas.jpg" alt="Profile Picture" class="profile-img" style="border-radius: 5px;">
						</div>
						<p style="font-size: 25px; font-weight: bold; margin-top: 10px;">Irham Rahmat Saleh</p>
						<p class="card-body" style="font-size: 1.5em;">Full Stack Developer</p>
					</div>
					<div class="card-body">
						<!-- Add card body content -->
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- Separator for New Page -->
<div class="separator my-4 "></div>

<!-- My Project Section -->
<section class="project-section container " style="width: 93%; height: 150%; border-radius: 10px;">
	<h2 class="text-center my-5">MY PROJECT</h2>
	<div class="row justify-content-center">
		<!-- Card Example -->
		<div class="card col-12 col-sm-6 col-md-4 col-lg-3 m-2 p-0 shadow-sm">
			<img src="https://via.placeholder.com/150" class="card-img-top" alt="Project Image">
			<div class="card-body">
				<h2 class="card-title h5">Project Title</h2>
				<p class="card-text">2023</p>
				<p class="card-text">Duration: 2 months</p>
				<p class="card-text project-description">Description of the project goes here...</p>
				<div class="icons mb-3">
					<i class="fab fa-android mx-1"></i>
					<i class="fab fa-java mx-1"></i>
					<i class="fab fa-google-play mx-1"></i>
				</div>
				<div class="d-flex justify-content-between">
					<button class="btn btn-warning edit btn-sm">Edit</button>
					<button class="btn btn-danger delete btn-sm">Delete</button>
				</div>
			</div>
		</div>
		<!-- Add more cards dynamically with JavaScript -->
	</div>
</section>

<!-- Include Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/home.js"></script>

{{> footer}}
