		/*  */
		.nav-link {
			position: relative;
			text-decoration: none;
		}

		.nav-link::after {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: white;
			transition: width 0.3s ease;
		}

		.nav-link:hover::after {
			width: 100%;
		}

		.social-media a img {
			border: none;
			outline: none;
			width: 30px;
			height: 30px;
		}

		.content-box {
			background-color: #f8f9fa;
			padding: 20px;
			border-radius: 10px;
			margin-bottom: 20px;
		}


		.profile-img {
			width: 100%;
			height: auto;
			max-width: 250px;
			object-fit: cover;
		}

		.contact-btn,
		.cv-btn {
			margin-right: 10px;
		}

		.social-media {
			margin-top: 20px;
		}

		.social-media a {
			margin-right: 10px;
		}
