		/*  */
		.nav-link {
			position: relative;
			text-decoration: none;
			/* Hilangkan garis bawah default */
		}

		.nav-link::after {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: white;
			/* Warna garis bawah */
			transition: width 0.3s ease;
			/* Animasi garis bawah */
		}

		.nav-link:hover::after {
			width: 100%;
			/* Lebar garis bawah saat hover */
		}

		/*  */
		/* Menghilangkan garis pada logo social media */
		.social-media a img {
			border: none;
			outline: none;
			width: 30px;
			height: 30px;
		}

		/* Menambahkan style agar konten di dalam box besar */
		.content-box {
			background-color: #f8f9fa;
			padding: 20px;
			border-radius: 10px;
			margin-bottom: 20px;
		}

		/* Mengatur jarak yang responsif */
		.profile-img {
			width: 100%;
			height: auto;
			max-width: 250px;
			object-fit: cover;
		}

		.contact-btn,
		.cv-btn {
			margin-right: 10px;
		}

		.social-media {
			margin-top: 20px;
		}

		/* Mengatur margin pada social-media untuk jarak yang akurat */
		.social-media a {
			margin-right: 10px;
		}


		/* @keyframes colorChange {
			0% {
				background-color: #28a745;
			}

			25% {
				background-color: #17a2b8;
			}

			50% {
				background-color: #ffc107;
			}

			75% {
				background-color: #dc3545;
			}

			100% {
				background-color: #28a745;
			}
		}

		.animated-box {
			margin-left: 29px;
			width: 80%;
			height: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			color: white;
			font-size: 24px;
			font-weight: bold;
			opacity: 0;
			transform: scale(0);
			transition: transform 0.5s ease, opacity 0.5s ease;
			margin-bottom: 30px;
			animation: colorChange 5s infinite ease-in-out;
			/* Animasi perubahan warna */
