header {
  background-color: #fe4e30;
  padding: 15px 0;
  margin-bottom: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
}

.navbar .left-section {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 30px;
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Styling untuk toggle burger */
.burger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsiveness untuk max-width: 768px */


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: transparent;
    /* Menjadikan background transparent */
    position: absolute;
    top: 60px;
    right: 0;
    /* Memastikan posisinya tetap di tempat */
    width: 100%;
    /* Memastikan width 100% untuk posisinya di tengah */
    border-radius: 5px;
    text-align: center;
    /* Memastikan isi dalam .nav-links selalu di tengah */
  }

  .nav-links li {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-right: 0;
    /* Menghapus padding kanan untuk memastikan tidak ada spasi tambahan */
  }

  .nav-links a {
    color: #fe4e30;
    /* Warna teks saat normal */
    font-size: 16px;
    padding: 5px;
    display: block;
    text-align: center;
    /* Memastikan teks dalam a berada di tengah */
  }

  .nav-links a:hover {
    background-color: #fe4e30;
    /* Background saat hover */
    color: white;
    /* Warna teks saat hover */
    border-radius: 5px;
    /* Menjadikan seperti box kecil saat hover */
    text-decoration: none;
  }

  .burger {
    display: block;
  }

  .nav-links.show {
    display: flex;
  }
}
